apt install open-jdk-17-jdk 
apt install openjdk-17-jre

java --illegal-access=permit -Dfile.encoding=utf-8 -javaagent:PATH/loader.jar -noverify -jar PATH/burpsuite_pro_v2022.8.1.jar &

java -jar keygen.jar

download link "burp" 
https://portswigger.net/burp/releases#professional
